<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.beastarman.e621"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="info.beastarman.e621.frontend.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.ImageActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.SettingsActivityNew"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.DownloadsActivity"
            android:label="@string/title_activity_downloads"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.ErrorReportActivity"
            android:label="Error"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <receiver android:name="info.beastarman.e621.middleware.E621SyncReciever"/> 
    </application>

</manifest>
