<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.beastarman.e621"
    android:versionCode="16"
    android:versionName="0.2a.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="info.beastarman.e621.frontend.E621Application" >

        <activity
            android:name="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.SearchContinueActivity"
            android:label="@string/title_activity_search_continue"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.ImageFullScreenActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.FullScreenVideoActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:theme="@style/CustomActionBarTheme"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.SettingsActivity"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.AlphaSettingsActivity"
            android:parentActivityName="info.beastarman.e621.frontend.SettingsActivity"
            android:label="@string/alpha_settings" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.DownloadsActivity"
            android:label="@string/title_activity_downloads"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.ErrorReportActivity"
            android:label="Error"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.FeedbackActivity"
            android:label="Feedback"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="info.beastarman.e621.frontend.RunDebugActivity"
            android:label="Debug"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <receiver
            android:name="info.beastarman.e621.middleware.E621SyncReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="info.beastarman.e621.frontend.E621ViewReciever"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="e621.net"
                    android:pathPrefix="/post" />
                <data android:scheme="http"
                    android:host="www.e621.net"
                    android:pathPrefix="/post" />
                <data android:scheme="http"
                    android:host="e926.net"
                    android:pathPrefix="/post" />
                <data android:scheme="http"
                    android:host="www.e926.net"
                    android:pathPrefix="/post" />
                <data android:scheme="https"
                    android:host="e621.net"
                    android:pathPrefix="/post" />
                <data android:scheme="https"
                    android:host="www.e621.net"
                    android:pathPrefix="/post" />
                <data android:scheme="https"
                    android:host="e926.net"
                    android:pathPrefix="/post" />
                <data android:scheme="https"
                    android:host="www.e926.net"
                    android:pathPrefix="/post" />
            </intent-filter>
			            
        </activity>

        <service android:name="info.beastarman.e621.middleware.E621SyncService"
            android:enabled="true" />
        <activity
            android:name="info.beastarman.e621.frontend.DonateActivity"
            android:label="Donate"
            android:parentActivityName="info.beastarman.e621.frontend.MainActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
